html {
    font-family: Georgia,Times, "Times New Roman", serif;
}

.shell {
    margin: 1em auto 1em auto;
    width: 90%;
}

#links li {
    margin: 1em 0 0 0;
}

#john-portrait-float {
    float: right;
    height: auto;
    max-width: 50%;
}

#john-portrait-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    #john-portrait-float {
        display: none;
    }

    #john-portrait-mobile {
        display: block;
        height: auto;
        max-width: 100%;
    }
}